[submodule "docs/submodules/bgpcep"]
	path = docs/submodules/bgpcep
	url = ../bgpcep
	branch = .
	ignore = dirty
[submodule "docs/submodules/infrautils"]
	path = docs/submodules/infrautils
	url = ../infrautils
	branch = .
	ignore = dirty
[submodule "docs/submodules/odlparent"]
	path = docs/submodules/odlparent
	url = ../odlparent
	branch = .
	ignore = dirty
[submodule "docs/submodules/genius"]
	path = docs/submodules/genius
	url = ../genius
	branch = .
	ignore = dirty
[submodule "docs/submodules/ovsdb"]
	path = docs/submodules/ovsdb
	url = ../ovsdb
	branch = .
	ignore = dirty
[submodule "docs/submodules/federation"]
	path = docs/submodules/federation
	url = ../federation
	branch = master
[submodule "docs/submodules/coe"]
	path = docs/submodules/coe
	url = ../coe
	branch = .
	ignore = dirty
[submodule "docs/submodules/sfc"]
	path = docs/submodules/sfc
	url = ../sfc
	branch = .
	ignore = dirty
[submodule "docs/submodules/openflowplugin"]
	path = docs/submodules/openflowplugin
	url = ../openflowplugin
	branch = .
	ignore = dirty
[submodule "docs/submodules/yangtools"]
	path = docs/submodules/yangtools
	url = ../yangtools
