[submodule "docs/submodules/aaa"]
	path = docs/submodules/aaa
	url = ../aaa
	branch = .
	ignore = dirty
[submodule "docs/submodules/netconf"]
	path = docs/submodules/netconf
	url = ../netconf
	branch = .
	ignore = dirty
[submodule "docs/submodules/odlparent"]
	path = docs/submodules/odlparent
	url = ../odlparent
	branch = .
	ignore = dirty
[submodule "docs/submodules/ovsdb"]
	path = docs/submodules/ovsdb
	url = ../ovsdb
	branch = .
	ignore = dirty
[submodule "docs/submodules/netvirt"]
	path = docs/submodules/netvirt
	url = ../netvirt
	branch = .
	ignore = dirty
