[submodule "docs/submodules/genius"]
	path = docs/submodules/genius
	url = ../genius
	branch = .
	ignore = dirty
[submodule "docs/submodules/ovsdb"]
	path = docs/submodules/ovsdb
	url = ../ovsdb
	branch = .
	ignore = dirty
[submodule "docs/submodules/coe"]
	path = docs/submodules/coe
	url = ../coe
	branch = .
	ignore = dirty
