---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.15.1
    hooks:
      - id: gitlint
        stages: [commit-msg]

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
      - id: remove-tabs
        stages: [commit]
        exclude: >
            (?x)^(
                .git/COMMIT_EDITMSG|
                docs/make.bat|
                docs/Makefile|
                MRI_projects_to_activate.list
            )$
