[access]
	inheritFrom = All-Projects
[project]
	description = OpenDaylight Documentation
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/odl-gerrit-docs-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/lithium:refs/heads/stable/lithium
