[access]
	inheritFrom = All-Projects
[project]
	description = OpenDaylight Documentation
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-docs-committers
	read = group Anonymous Users
	read = group GitHub Replication
	read = group Registered Users
	forgeAuthor = group ldap/gerrit-docs-committers
[access "refs/for/refs/*"]
	push = group Registered Users
[access "refs/heads/*"]
	create = group Non-interactive docs Users
	forgeAuthor = group Non-interactive docs Users
	forgeCommitter = group Non-interactive docs Users
	push = group Non-interactive docs Users
	pushMerge = group Non-interactive docs Users
	label-Code-Review = -2..+2 group ldap/gerrit-docs-committers
	label-Code-Review = -1..+1 group Non-interactive docs Users
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-interactive docs Users
	label-Verified = -1..+1 group ldap/gerrit-docs-committers
	submit = group ldap/gerrit-docs-committers
[access "refs/tags/*"]
	create = group ldap/gerrit-docs-committers
	forgeCommitter = group Non-interactive docs Users
	push = group Non-interactive docs Users
	push = +force group ldap/gerrit-docs-committers
	pushTag = group Non-interactive docs Users
	pushTag = +force group ldap/gerrit-docs-committers
