sphinx>=1.4.4
sphinx_bootstrap_theme
robotframework
https://github.com/zxiiro/javasphinx/raw/master/javasphinx-0.9.13-odl.tar.gz

# Force update dependency in readthedocs
alabaster>=0.7.8
Babel>=2.3.4
docutils>=0.12
Jinja2>=2.8
MarkupSafe>=0.23
Pygments>=2.1.3
six>=1.10.0
snowballstemmer>=1.2.1

