#outdated_warning {
  background-color: #f2dede;
  width: 100%;
  padding: 8px 20px 8px;
  text-align: center;
  font-size: 14px;
  color: #a94442;
}

#deprecated_warning {
  background-color: #fcf8e3;
  width: 100%;
  padding: 8px 20px 8px;
  text-align: center;
  font-size: 14px;
  color: #8a6d3b;
}

#bug-form {
  display: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

#give-feedback-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#cancel-btn {
  padding-left: 0;
}